<!DOCTYPE html>
<html>
<head>
    <title>Log Generator</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Log Generator</h1>
        <div class="controls">
            <button id="start" class="btn">Start Generating Logs</button>
            <button id="stop" class="btn">Stop Generating Logs</button>
        </div>
        <div id="spinner" class="spinner">
            <div class="loader"></div>
        </div>
        <p id="status" class="status">Not Generating Logs...</p>
        <p id="logCounter" class="log-counter"></p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <script src="/static/scripts.js"></script>
</body>
</html>